
{% block body %}

<div class="mt-4 p-4 bg-white border border-gray-300 text-sm text-black">
    <table class="table-auto w-full text-sm text-black">
        <thead>
            <tr class="bg-gray-200">
                {% for section in updated_data.keys() %}
                    <th class="p-2 border border-gray-300 text-left capitalize">{{ section.replace('_', ' ') }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- Other Dynamic Fields -->
                {% for section, value in updated_data.items() %}
                    <td class="p-2 border border-gray-300 align-top">
                        <p>
                            {% set value_str = value|string %}
                        {% set paragraphs = value_str.split('\n') %}
                        {% for paragraph in paragraphs %}
                          {% if paragraph %}
                            <p>
                              {% set parts = paragraph.split('*') %}
                              {% for part in parts %}
                                {% if loop.index is even %}
                                  <span class="text-blue-600 font-semibold italic">{{ part }}</span>
                                {% else %}
                                  {{ part }}
                                {% endif %}
                              {% endfor %}
                            </p>
                          {% else %}
                            <p></p>
                          {% endif %}
                        {% endfor %}
                        </p>

                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}