{% block body %}
<!-- <div id="doc_obj"> -->
<table class="table-fixed w-full">
    <tbody>
        <!-- Main Row -->

        <tr id="expandable-row-extrainfo-{{ doc_index }}">
            <!-- <td></td> -->
            {% for field in all_columns %}
                <td class="align-top px-2 py-4 whitespace-normal border-b border-gray-200"> 
                {% set field_key = field ~ '_factual' %}
                {% if field_key in field_names %}
                    {% for line in (doc_obj[field_key]|string).split('\n') %}
                        {% if '<img' in line %}
                            <div class="text-gray-900 mb-2">
                            {{ line | safe }}
                            </div>
                        {% elif line == '' %}
                            <div class="text-sm leading-5 text-gray-500 py-3">{{ line }}</div>
                        {% else %}
                            <div class="text-sm leading-5 text-gray-500">{{ line }}</div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    &mdash;
                {% endif %}
                </td>
            {% endfor %}
            <!-- <td></td> -->
            <td class="align-top px-2 py-4 whitespace-normal border-b border-gray-200" style="padding: 10px; background-color: transparent;"></td>
            <td class="text-center px-2 py-4 whitespace-normal border-b border-gray-200 text-sm  font-medium">
                <button
                        class="view-button hover:text-blue-600"
                        onclick="loadAndToggleVisibility('expandable-row-explainability-{{doc_obj._id}}', '{{doc_obj._id}}', '/get_doc_detail/{{doc_obj._id}}', 'detail')">
                        More Details
                    </button>
            </td>
            <!-- <td class="align-top px-2 py-4 whitespace-normal border-b border-gray-200" style="padding: 10px; background-color: transparent;"></td> -->
        </tr>
        <tr id="expandable-row-explainability-{{doc_obj._id}}" style="display: none;" class="mt-4" docid="{{doc_obj._id}}">
            <td colspan="6">
                <div id="{{doc_obj._id}}-detail">
                    <div id="injected-container"></div>
                </div>
            </td>
        </tr>
        

<!--        &lt;!&ndash; Expandable Content Row (initially hidden) &ndash;&gt;-->
<!--        <tr style="display: none;">-->
<!--            <td colspan="100%">-->
<!--                <div class="flex gap-6 p-4 bg-gray-50 rounded-lg shadow">-->
<!--                    &lt;!&ndash; Image Block &ndash;&gt;-->
<!--                    <div class="w-1/3 p-4 border border-gray-200 rounded-lg shadow-md">-->
<!--                        <img src="https://via.placeholder.com/300x200.png?text=Sample+Image" -->
<!--                             alt="Sample" -->
<!--                             class="rounded shadow-md max-w-full">-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Text Block &ndash;&gt;-->
<!--                    <div class="w-2/3 p-4 border border-gray-200 rounded-lg shadow-md">-->
<!--                        <h2 class="text-xl font-semibold text-gray-800 mb-3">Text Title</h2>-->
<!--                        <p class="text-gray-600 leading-relaxed">-->
<!--                            This is a sample text. This needs to be replaced with your actual content.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </td>-->
<!--        </tr>-->
    </tbody>
  </table>
<!-- </div> -->


{% endblock %}