<tr id="expandable-row-explainability-{{doc_index}}">
    <td colspan="6">
        <div class="flex gap-6 p-4 bg-gray-50 rounded-lg shadow">
            <!-- Image Block -->
            <div class="w-1/3 p-4 border border-gray-200 rounded-lg shadow-md">
                <img src="{{ url_for('images', filename=doc_obj['factual_image']) }}" alt="No image" class="rounded shadow-md max-w-full">
            </div>

            <!-- Text Block -->
            <div class="w-2/3 p-4 border border-gray-200 rounded-lg shadow-md">
                <p class="text-gray-600 leading-relaxed">

                     {{ doc_obj.factual_text | default('No explanation available.', true) }}
                </p>
            </div>
        </div>
    </td>
</tr>
