{% extends "_layout/master.html" %}

{% block body %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/static/js_scripts/form_submit.js" defer></script>

<style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    h2 {
      text-align: center;
    }

    form {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    select,
    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }

    button {
      background-color: #4CAF50;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
  </style>

<div class="mt-4">
        <div class="-mx-1">
                    <div id="" class="mt-2 shadow-sm rounded-md bg-white">
                         <div class="mt-4">
                            <div class="-mx-1">
                                    <div class="flex items-center px-5">
                                        <div class="mt-2 px-6">

                                        </div>

                                        <div id="task" class="mt-2">
                                            <h4 class="text-2xl font-semibold text-gray-700">Task Description</h4>
                                            <div class="text-gray-500">Select the best {{ shortlist_candidates }} for the job description displayed below.
                                                {% if ai_priming == "True" %}
                                                The candidates are the top 10 selected candidates by an AI out of 100 applicants.
                                                {% endif %}
                                            All candidates already comply with all legal requirements to take the position (e.g., those who need it, already have a work permit).
                                            All candidates have at least a lower-secondary education diploma.
                                                {% if expand == "True" %}
                                                In order to view more information about a candidate, one can click on the "View" button.
                                                {% endif %}
                                                After selecting the {{ shortlist_candidates }} click the "Next" button to navigate to the next assignment.
</div>
                                        </div>
                                </div>
                            </div>
</div>
                            <form method="POST" action="{{ url_for('instructions', experiment_id=experiment_id, n_task=n_task) }}"class="py-3 text-center">
                                <!-- your instructions content -->
                                 <div class="py-3 text-center">
                                    <button type="submit" id="done_button">Next</button>
                                </div>
                            </form>

                    </div>
            </div>
        </div>

<script>
// function getURL() {
//     // Extract the experiment ID from the current URL using JavaScript
//     var currentURL = window.location.href;
//     var experimentId = currentURL.split('/')[4];  // Assumes the experiment ID is the last part of the URL
//     console.log(currentURL.split('/'))
//     console.log(currentURL.split('/')[4])
//     var URL = "/start_shortlist/"+ experimentId +  "/index_shortlist"  + "/task_description";
//     //var URL = "/task_description";
//     return URL
// }

// // Get experimentID from the current URL
//     var URL = getURL();

//     // Dynamically set hx-post attribute
//     var button = document.getElementById('done_button');
//     console.log(URL)
//     if (URL) {
//       button.setAttribute('hx-post', URL);
//     }
</script>
{% endblock %}
